body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}
.section {
  margin-bottom: 30px;
}
.section-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #4285f4;
}
.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.details strong {
  font-weight: bold;
  color: #000;
}
.signature {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.signature .signature-label {
  font-weight: bold;
  color: #000;
}
.details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.details strong {
  min-width: 120px;
  font-weight: bold;
  color: #000;
}
.signatureImg {
  width: 50px;
  height: 50px;
}
.details p {
  margin: 0;
}
table {
  width: 100%;
  padding: 16px;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
table th {
  padding: 1em;
}
table .layer_title {
  text-align: left;
  font-weight: bold;
  color: #b0a080;
  font-size: 17px;
}
table tr td {
  padding: 1em;
  border: 1px solid lightgray;
}
